* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-size: 16 px;
  font-family: "Roboto";
  color: #777777;
  font-weight: 400;
  letter-spacing: 2px;
  padding: 50px;
  background-color: white;
}

.container {
  color: #F7F7F7;
}

.header {
  position: relative;
  height: 95vh;
  background: url(../img/header-image.png) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
}
.header__logo {
  top: 50px;
  left: 50px;
  position: absolute;
  height: 70px;
  width: 56px;
}
.header__box {
  top: 50%;
  left: 50%;
  position: absolute;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  max-width: 970px;
  width: 100%;
}

.title-first {
  font-family: "Roboto";
}
.title-first__main {
  display: block;
  color: #FFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 10px;
  margin-bottom: 10px;
  -webkit-animation: rightToLeft;
          animation: rightToLeft;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
}
.title-first__secondary {
  display: block;
  color: #FFF;
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 5px;
  -webkit-animation: leftToRight;
          animation: leftToRight;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  margin-bottom: 65px;
}

.btn:visited, .btn:link {
  color: var(--color-grey, #777);
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 5px;
  border-radius: 50px;
  background: #FFF;
  text-decoration: none;
  padding: 15px 40px;
  margin-bottom: 70px;
  display: inline-block;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}
.btn:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.btn:hover::after {
  -webkit-transform: scaleX(1.4) scaleY(1.8);
      -ms-transform: scaleX(1.4) scaleY(1.8);
          transform: scaleX(1.4) scaleY(1.8);
  opacity: 0;
}
.btn:active {
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px);
}
.btn::after {
  content: "";
  color: var(--color-grey, #777);
  background: #FFF;
  border-radius: 50px;
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  -webkit-transition: all 0.7s;
  transition: all 0.7s;
}
.btn_animated {
  -webkit-animation: btnTop;
          animation: btnTop;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

@-webkit-keyframes btnTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes btnTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes rightToLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@-webkit-keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}
@keyframes leftToRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}